<%-
	local uci = require "luci.model.uci".cursor()

	local value = uci:get("goagent", "ipv4http", "crlfsites")

	if value == nil then
		value = "scholar.google.com|scholar.google.com.hk|.appspot.com"
	end
-%>
<div class="cbi-value cbi-value-last" id="cbi-goagent-ipv4http-crlfsites"><label class="cbi-value-title" for="cbid.goagent.ipv4http.crlfsites"><%:Sites using CrLf%></label>
	<div class="cbi-value-field">

	<input type="text" class="cbi-input-text" style="width:400px" onchange="cbi_d_update(this.id)" name="cbid.goagent.ipv4http.crlfsites" id="cbid.goagent.ipv4http.crlfsites" value="<%=value%>" />
	
	</div>
</div>
