<%-
	local uci = require "luci.model.uci".cursor()

	local value = uci:get("goagent", "ipv4http", "forcehttps")

	if value == nil then
		value = ".google.com|.google.com.hk|.googleapis.com|.googleusercontent.com|.youtube.com"
	end
-%>
<div class="cbi-value cbi-value-last" id="cbi-goagent-ipv4http-forcehttps"><label class="cbi-value-title" for="cbid.goagent.ipv4http.forcehttps"><%:Sites forced to use HTTPS%></label>
	<div class="cbi-value-field">

	<input type="text" class="cbi-input-text" style="width:400px" onchange="cbi_d_update(this.id)" name="cbid.goagent.ipv4http.forcehttps" id="cbid.goagent.ipv4http.forcehttps" value="<%=value%>" />
	
	</div>
</div>
