<%-
	local uci = require "luci.model.uci".cursor()

	local value = uci:get("goagent", "ipv4http", "nofakehttps")

	if value == nil then
		value = "scholar.google.com|scholar.google.com.hk"
	end
-%>
<div class="cbi-value cbi-value-last" id="cbi-goagent-ipv4http-nofakehttps"><label class="cbi-value-title" for="cbid.goagent.ipv4http.nofakehttps"><%:Sites not using fake certificate%></label>
	<div class="cbi-value-field">

	<input type="text" class="cbi-input-text" style="width:400px" onchange="cbi_d_update(this.id)" name="cbid.goagent.ipv4http.nofakehttps" id="cbid.goagent.ipv4http.nofakehttps" value="<%=value%>" />
	
	</div>
</div>
