<%-
	local uci = require "luci.model.uci".cursor()

	local value = uci:get("goagent", "ipv6http", "crlfsites")

	if value == nil then
		value = ".youtube.com|.google.com"
	end
-%>
<div class="cbi-value cbi-value-last" id="cbi-goagent-ipv6http-crlfsites"><label class="cbi-value-title" for="cbid.goagent.ipv6http.crlfsites"><%:Sites using CrLf%></label>
	<div class="cbi-value-field">

	<input type="text" class="cbi-input-text" style="width:400px" onchange="cbi_d_update(this.id)" name="cbid.goagent.ipv6http.crlfsites" id="cbid.goagent.ipv6http.crlfsites" value="<%=value%>" />
	
	</div>
</div>
